body {
    text-align: center;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}
#Apps {
    background-color: blue;
}
#games {
    background-color: blue;
}
.line {
    height: 6px;
    background-color: cyan;
    width: 80px;
    margin: 8px auto;
}
#myCarousel {
    background-color: red;
}
#myCarousel img {
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p {
    margin-top: 15px;
    color: white;
    font-size: 20px;
}